body {
    font-family: sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #add-book-form {
    display: none;
    margin-top: 20px;
  }
  
  #add-book-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #add-book-button button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }